// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

.social-btn:hover {
  background-color: white;
  border-width: thin;
  border-color: blue;
  border-style: solid;
  color: blue;
}
